*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e6d2a8;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background: #e6d2a8;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 36px;
  color: #9a8a1f;
}

.login {
  background: #9a8a1f;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

nav {
  background: #9a8a1f;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 15px;
}

main {
  flex: 1;          
  background: white;
  padding: 20px;
}


footer {
  background: #9a8a1f;
  color: white;
  text-align: center;
  padding: 20px;
}